---
layout: bootcamp
root: .
venue: AMNH
address: Perkin Reading Room 5th floor Astrophysics, Central Park W & 79th St, New York, NY 10024
country: United-States
humandate: May 31-June 3, 2016
humantime: 9:00 am - 3:30 pm
startdate: 2016-05-31
enddate: 2016-06-03
latlng: 40.781324,-73.973988
registration: restricted
instructors: ["Camille Avestruz"]
helper: ["David Rodriguez"]
contact: avestruz@uchicago.edu
ipythonnotebook: http://nbviewer.ipython.org/urls
raw: raw.github.com/swcarpentry/bc/gh-pages
<!---eventbrite: 11719002853--->
---
<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.
    Please use three-letter month names for the 'humandate' field.
-->

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.
-->
{% if page.eventbrite %}
<iframe src="http://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" scrolling="auto"></iframe>
{% endif %}

<h2>General Information</h2>

<p>
  <a href="http://software-carpentry.org">Software Carpentry</a>'s mission
  is to help scientists and engineers become more productive
  by teaching them basic lab skills for computing
  like program design, version control, data management, and task automation.
  This two-day hands-on bootcamp will cover basic concepts and tools;
  participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
  <a href="https://etherpad.mozilla.org/lift2PvLde">Etherpad Link</a>
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

{% if page.helper %}
<p>
  <strong>Helpers:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at summer research students at AMNH.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
    Edit this block to show the syllabus and schedule for your bootcamp.
-->
<h2>Schedule</h2>

<table class="table table-striped">
  <tr> <td>Tuesday</td> <td>9:00 - 9:15</td>  <td>Setup help</td> </tr>
  <tr><td></td>         <td>9:15 - 10:30</td>  <td>Introductions / The Unix shell</td> </tr>
  <tr><td></td>         <td>10:30 - 10:45</td> <td>Break</td> </tr>
  <tr> <td></td>        <td>10:45 - 12:00</td>   <td>Task automation with Bash</td> </tr>
  <tr> <td></td>        <td>12:00 - 12:45</td>   <td>Lunch</td> </tr>
  <tr> <td></td>        <td>12:45 - 02:00</td>   <td>Introduction to emacs</td> </tr>

  <tr> <td></td>        <td>02:00 - 02:15</td>  <td>Break</td> </tr>
  <tr> <td></td>        <td>02:15 - 03:30</td>  <td>Introduction to version control and git</td> </tr>
  <tr> <td></td>        <td>Homework</td>  <td>Emacs tutorial</td> </tr>

<!--- --->

  <tr> <td>Wednesday</td> <td>9:00 - 10:30</td>  <td>Review of Bash and Git commands</td> </tr>
    <tr><td></td>       <td>10:30 - 10:45</td>  <td>Break</td></tr>
  <tr> <td></td>        <td>10:45 - 12:00</td>   <td>Introduction to python in the ipython notebook</td> </tr>
  <tr> <td></td>        <td>12:00 - 12:45</td>   <td>Lunch</td> </tr>
  <tr> <td></td>        <td>12:45 - 01:15</td>   <td>Python Exercises</td> </tr>
  <tr> <td></td>        <td>01:15 - 02:00</td>   <td>Python functions</td> </tr>

  <tr> <td></td>        <td>02:00 - 02:15</td>  <td>Break</td> </tr>
  <tr> <td></td>        <td>02:15 - 03:30</td>  <td>Python scripting</td> </tr>
  <tr> <td></td>        <td>Homework</td>  <td><a href="http://pcottle.github.io/learnGitBranching/?NODEMO">Git practice</a> and setup github account</td> </tr>

<!--- --->

  <tr> <td>Thursday</td> <td>9:00 - 10:30</td>  <td>More with python objects</td> </tr>
    <tr><td></td>       <td>10:30 - 10:45</td>  <td>Break</td></tr>
  <tr> <td></td>        <td>10:45 - 12:00</td>   <td>Loading and plotting data</td> </tr>
  <tr> <td></td>        <td>12:00 - 12:45</td>   <td>Lunch</td> </tr>
  <tr> <td></td>        <td>12:45 - 02:00</td>   <td>Python Functions for data analysis</td> </tr>

  <tr> <td></td>        <td>02:00 - 02:15</td>  <td>Break</td> </tr>
  <tr> <td></td>        <td>02:15 - 03:30</td>  <td>Putting a workflow together</td> </tr>
  <tr> <td></td>        <td>Homework</td>  <td>TBD: Start a <a href="https://projecteuler.net/about"><mini-research</a> project</td> </tr>

<!--- --->

  <tr> <td>Friday</td> <td>9:00 - 10:30</td>  <td>Download a data sample - data types</td> </tr>
    <tr><td></td>       <td>10:30 - 10:45</td>  <td>Break</td></tr>
  <tr> <td></td>        <td>10:45 - 12:00</td>   <td>Getting information from your data</td> </tr>
  <tr> <td></td>        <td>12:00 - 12:45</td>   <td>Lunch</td> </tr>
  <tr> <td></td>        <td>12:45 - 02:00</td>   <td>TBD</td> </tr>

  <tr> <td></td>        <td>02:00 - 02:15</td>  <td>Break</td> </tr>
  <tr> <td></td>        <td>02:15 - 03:30</td>  <td>Wrap-up and final questions</td> </tr>

<!--- --->

</table>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->

<h2>Setup</h2>

<p>
  To participate in a Software Carpentry bootcamp,
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your bootcamp.
</p>

{% include setup.html %}

<h2>Topics</h2>

<div class="row-fluid">
  <div class="span6">
    <h3><a href="lessons/swc-shell/tutorial.html">The Unix
    Shell</a></h3>
    <ul>
      <li>{% include guide-shell/intro/title.md %}</li>
      <li>{% include guide-shell/filedir/title.md %}</li>
      <li>{% include guide-shell/create/title.md %}</li>
      <li>{% include guide-shell/pipefilter/title.md %}</li>
      <li>{% include guide-shell/loop/title.md %}</li>
      <li>{% include guide-shell/scripts/title.md %}</li>
      <li>{% include guide-shell/find/title.md %}</li>
    </ul>
  </div>
  <div class="span6">
    <h3><a href="lessons/swc-git/tutorial.html">Version Control With
    Git </a> <a href="https://github.com/swcarpentry/bc/blob/master/lessons/swc-git/tutorial.md">
    (SWC master version)</a></h3>
    <ul>
      <li>A Better Backup</li>
      <li>Branching</li>
      <li>Merging</li>
      <li>Collaborating</li>
    </ul>
  </div>
  <div class="span6">
    <h3>Python</h3>
    <ul>
        <li><a href="{{page.ipythonnotebook}}/{{page.raw}}/lessons/thw-python/vars-types/variables.ipynb">Variables
        and Types</a></li>
        <li><a href="{{page.ipythonnotebook}}/{{page.raw}}/lessons/thw-python/data-structures/data_structures.ipynb">Data
        Structures</\
a></li>
        <li><a href="{{page.ipythonnotebook}}/{{page.raw}}/lessons/thw-python/flow-control/python_flow_control.ipynb">Flow
        Control</a>
</li>
        <li><a href="{{page.ipythonnotebook}}/{{page.raw}}/lessons/thw-python/strings-io/tutorial.ipynb">Strings
        and File I/O</a></li>
        <li><a href="{{page.ipythonnotebook}}/{{page.raw}}/lessons/thw-python/functions-and-modules/python_functions_and_modules.ipynb\
">Functions and Modules</a></li>
        <li><a href="lessons/swc-setdict/tutorial.html">Sets and
        Dictionaries</a></li>
      </ul>
  </div>


<h2>Reference Guides</h2>

<ul>
  <li><a href="https://etherpad.mozilla.org/aSXDMHiJX2">The bootcamp
  Etherpad</a>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix
  Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
  <li><a href="{{page.root}}/lessons/ref/sql.html">SQL</a></li>
  <li><a href="http://knightlab.northwestern.edu/2014/03/13/googling-for-code-solutions-can-be-tricky-heres-how-to-get-started/">How
  to Effectively Google for Help When Your Code Isn't Working</a></li>
</ul>
